<h1>LogIn</h1>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label:password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
