<%= form_with(model: home, local: true) do |form| %>
  <% if home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if params[:selected_city]%>
  <div class="field" style="display:none">
    <%= form.label :cityId %>
    <%= form.number_field :cityId, value:params[:selected_city] %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.time_select :start,default: Date.today + 10.hours + 0.minutes%>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.time_select :end,default: Date.today + 10.hours + 0.minutes %>
  </div>

  <div class="field">
    <%= form.label :peopleNum %>
    <%= form.number_field :peopleNum, value:@home.peopleNum ? @home.peopleNum: 3 %>
  </div>

  <% if session[:role] == "Teacher" %>
    <% @home.teacherId = session[:user]["id"] %>
  <% elsif %>
  <div class="field">
    <%= form.label :teacherId %>
    <%= form.select :teacherId,Teacher.all.map{|n|[n.name,n.id]} %>
  </div>
  <% end %>


  <div class="field">
    <%= form.label :cafeId %>
    <% if params[:selected_city] %>
    <%= form.select :cafeId,Cafe.where(cityId: params[:selected_city]).map{|n|[n.name,n.id]} %>
    <% else %>
    <%= form.select :cafeId,Cafe.where(cityId: @home.cityId).map{|n|[n.name,n.id]} %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
