<% set_meta_tags title: @title, description: @description %>


<div id="schedule">



<!-- タイトル本文 -->
<h1><%= @city.name %>での開催スケジュール</h1>



<h2>日時選択</h2>  <%= link_to 'create new event', new_home_path(selected_city: params[:id]) if (session[:role]  == "Admin") %>
<div id="schedules">
  <% @dates.each do |date| %>
    <h3 class="toggle_active <%= "active" if @events.where(date: date).size==1 %>">
      <%= date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[date.wday]})") %>
    </h3>
    <div class="dates">
      <% @events.where(date: date).each do |event| %>
        <div class="details">
          <div class="de_c">
            <div class="de_c_1">
              <p><%= event.start.strftime("%H:%M") %>~<%= event.end.strftime("%H:%M") %></p>
              <p><a href="#teacher_<%= event.teacher.id %>"><span><%= event.teacher.name %></span>先生</a></p>
            </div>
            <div class="de_c_2">
              <p><%= link_to event.cafe.name, "#cafe_#{event.cafe.id}" %></p>
              <p>残席:<%= event.peopleNum %></p>
            </div>
          </div>
          <a class="join <%= 'full' if event.peopleNum==0 %>" href="/contacts/<%= event.id %>/join" data-remote="true"><p>参加申込み</p></a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<h2>担当先生</h2>
<div id="teachers">
  <% @teachers.each do |teacher| %> <div id="teacher_<%=teacher.id%>" class="eyecatch">
    <%= image_tag teacher.avatar, class: "teacher_img" %>
    <div class="text">
      <p class="teacher_name"><%= teacher.name %>先生</p>
      <div class="grad-btn toggle_active"><span class="fa fa-chevron-down"></span>プロフィールを見る</div>
      <div class="teacher_profile"><%= simple_format(teacher.selfIntroduction) %></div>
    </div>
  </div> <% end %>
</div>


<h2>開催カフェ</h2>
<p>注意:英会話について直接カフェに連絡するのはお控えください。</p>
<div id="caves">
  <% @caves.each do |cafe| %> <div id="cafe_<%=cafe.id%>" class="eyecatch">
    <h3><%= cafe.name %></h3>
    <ul class="slider">
      <% cafe.images.each do |image| %> <li><%= image_tag image %></li> <% end %>
    </ul>
    <div class="description"><%= simple_format(cafe.description) %></div>
  </div> <% end %>
</div>

<style>
.slick-dots {
      position: absolute !important;
      bottom: 20px !important;
      li {
        font-size: 20px !important;
        button:before {
          content: "●" !important;
          font-size: 14px !important;
          color: rgb(60, 60, 60) !important;
        }
      }
    }
.slider{
    margin: 30px auto;
    width: 80%;
    padding: 0;
}
.slider img{
    height: 40vw;
    width: 100%;
    object-fit: cover;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
</style>

<h2>参加規約</h2>
<div id="terms">
  <p>1  参加申し込み後、数日以内にこちらからメールを差し上げます。<br>メールの受信確認のメールをよろしくお願い致します。</p>
  <p>2 申し込み後のキャンセルは、開催日の前日の24時までと致します。<br>それ以降のキャンセルは受け付けませんので、ご了承ください。</p>
  <p>4 お客様が英会話開始時間に遅れる場合などでも、料金割引などは致しかねます。ご了承ください。</p>
  <p>その他、ご質問等はお問い合わせください。</p>
</div>


</div>


<script type="text/javascript">
(function() {
  $(document).on('turbolinks:load', function() {
    $(".teacher_img").css('min-height',$('.text').height());
    return $(".toggle_active").click(function() {
      return $(this).parent().prev(".teacher_img").toggleClass('active');
    });
  });
}).call(this);
</script>
