<h1><%= @selectedPrefecture.name %>での開催スケジュール</h1>

<div id="show_detail"></div>


<%= if session[:role]  == "Admin" then link_to 'create new city', new_city_path(selected_prefecture:@selectedPrefecture_id), data: {"turbolinks"=>false} end %>
<p>参加したい方は、参加申し込みボタン又はTwitter,Instagram,Facebook,公式Lineにてご連絡ください。<br>
  もちろん、アポなし参加でも大丈夫です。</p>
<div class="toc_container" style="width: calc(100% - 20px); display: table;">
<p >この記事の目次</p>
<ul style="display: block;">
<% City.where(prefectureId: @selectedPrefecture_id).each do |n| %>
    <li><a href="#schedule_index_<%= n.id %>"><%= n.name %></a></li>
<% end %>
</ul>
</div>

<% City.where(prefectureId: @selectedPrefecture_id).each do |n| %>
  <h2 id="#schedule_index_<%= n.id %>"><%= n.name %>
    <% if ((session[:role]  == "Admin")||(session[:role]  == "Teacher")) %>
      <%= link_to 'create new event', new_home_path(selected_city:n.id), data: {"turbolinks"=>false} %>
    <% end %></h2>
  <table>
  <% Home.where(cityId: n.id).sort_by{|a|Time.zone.parse(a.date.strftime("%Y%m%d")+a.start.strftime("%H%M"))}.each do |m| %>
    <% if Time.zone.parse(m.date.strftime("%Y%m%d")+m.end.strftime("%H%M"))<Time.current %>
      <% m.contacts.each{|n|n.update(home_id: nil)} %>
      <% m.destroy %>
      <% next %>
    <% end %>
    <tr>
      <td><%= m.date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[m.date.wday]})") %><br><%= m.start.strftime("%H:%M") %>~<%= m.end.strftime("%H:%M") %></td>
      <td class="onlypc"><%= link_to teacher_path(m.teacherId), data: {"turbolinks"=>false} do %><%= Teacher.find(m.teacherId).name %> <br>先生<%end%></td>
      <td><p class="onlypc" style="margin:0px;"><%= link_to Cafe.find(m.cafeId).name,Cafe.find(m.cafeId).url ? Cafe.find(m.cafeId).url: cafe_path(m.cafeId) %></p>
        <p style="margin:0px;">残席:<%= m.peopleNum %></p></td>
      <td class="onlymobile green_button" style="background: linear-gradient(#15ab4f, #0dff07);width:70px">
          <%= link_to '詳細', homes_showDetailSchedule_path(selected_cafeId: m.cafeId,selected_teacherId: m.teacherId), remote: true,style: "line-height: 4em;"%></td>
      <td class="green_button">
          <a <%if session[:role]!="Admin"%>data-remote="true"<% end %> href="<%if session[:role]!="Admin"%>/contacts/<%= m.id %>/join <% else %> /homes/<%= m.id %>/edit<%end%>"><% if session[:role] == "Admin" %>edit<% else %> 参加<br>申し込み <% end %></td>
    </tr>
  <% end %>
  </table>
<% end %>
