<h2><%= Prefecture.find(@selectedPrefecture_id).name %>での開催スケジュール</h2>
<p>参加したい方は、Twitter,Instagram,公式Line又はE-mailにてご連絡ください。<br>
  もちろん、アポなし参加でも大丈夫です。</p>
<div class="toc_container" style="width: auto; display: table;">
<p >この記事の目次</p>
<ul style="display: block;">
<% City.where(prefectureId: @selectedPrefecture_id).each do |n| %>
    <li><a href="#schedule_index_<%= n.id %>"><%= n.name %></a></li>
<% end %>
</ul>
</div>

<% City.where(prefectureId: @selectedPrefecture_id).each do |n| %>
  <h1 id="#schedule_index_<%= n.id %>"><%= n.name %></h1>
  <table>
  <% Home.where(cityId: n.id).each do |m| %>
    <% if Time.zone.parse(m.date.strftime("%Y%m%d")+m.end.strftime("%H%M"))<Time.current %>
      <% m.destroy %>
      <% next %>
    <% end %><tr>
      <td><%= m.date.strftime("%Y年 %m月 %d日") %> <%= m.start.strftime("%H:%M") %>~<%= m.end.strftime("%H:%M") %></td><td><%= Cafe.find(m.cafeId).name %></td><td><%= Teacher.find(m.teacherId).name %>先生</td><td style="width: 73px;">残り人数:<%= m.peopleNum %></td><td style="background-color: #9bffb5f2; border-radius: 10px;width: 61px;padding: 0;"><a href="mailto:meetup_english-tokyo@yahoo.co.jp" style="display:inline-block">参加<br>申し込み</td>
    </tr>
  <% end %>
  </table>
<% end %>
