<!DOCTYPE html>
<html>
  <head>
    <%= render'layouts/head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Great+Vibes|Parisienne|Tangerine&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="top-top">
      <div id="logo-top">
        <%= image_tag("top/logo.png", id: "logo-image-top") %>
        <p>Meet up English</p>
      </div>
    <% 2.times do %>
      <div id="slide-top">
        <div class="image image-1">
        </div>
        <div class="image image-2">
        </div>
        <div class="image image-3">
        </div>
      </div>
    <% end %>
      <span id="motion_text-top">
        <h1>Location×English×Time</h1><p>日常に留学を</p>
      </span>
    </div>

    <section id="transparent-top">

    </section>

    <section id="about-top">
      <a href="/about">
        <div class="text-top">
          <h2>About 概要</h2>
          <p>「英会話」に対するハードルが異様に高い日本。<br>
            英語を話すことは、もっと自由でいい。<br>
            もっと気軽でいい。<br>
            もっと楽しくていい。</p>
          <p class="read_more">READ MORE→</p>
        </div>
        <div class="image-top">
          <%= image_tag("top/about.jpg", id: "about-image-top") %>
        </div>
      </a>
    </section>

    <section id="schedule-top">
      <a href="/">
        <div class="text-top">
          <h2>Schedule<br>今後のスケジュール</h2>
          <p>開催のスケジュールのページです。<br>
            このページの参加申し込みボタンから、<br>
            今後の開催イベントの予約ができます。<br></p>
          <p class="read_more">READ MORE→</p>
        </div>
        <div class="image-top">
          <%= image_tag("top/schedule.jpg", id: "schedule-image-top") %>
        </div>
      </a>
    </section>

    <section id="style-top">
      <a href="/blogs?event_search=開催の様子">
        <div class="text-top">
          <h2>Blog 開催の様子</h2>
          <p>Meet up English の公式ブログです。<br>
            開催の様子や活動状況、その他、<br>
            有益な情報をお届けします。<br></p>
          <p class="read_more">READ MORE→</p>
        </div>
        <div class="image-top">
          <%= image_tag("top/blog.jpg", id: "blog-image-top") %>
        </div>
      </a>
    </section>

    <div id="create_contact"></div>
    <div class="contact-top">
        <a class="contact_btn" data-remote="true" href="/contacts/new">
          <span class="">
            お問い合わせはこちら
          </span>
        </a>
    </div>

    <footer class="footer-top">
      <div id="SNS">
        <span id="title">OFFICIAL ACCOUNT</span>
        <div id="button">
            <%= link_to simple_format('<i class="fab fa-youtube"></i>'), "https://www.youtube.com/channel/UC1OTguN4K5GNf8I5ZeJZkGg", class: 'youtube-footer' %>
            <%= link_to simple_format('<i class="fab fa-twitter"></i>'), "https://twitter.com/meetup_english?ref_src=twsrc%5Etfw", class: 'twitter' %>
            <%= link_to simple_format('<i class="fab fa-instagram"></i>'), "https://www.instagram.com/meet_up_english?ref=badge", class: 'instagram' %>
            <%= link_to simple_format('<i class="fab fa-facebook-square"></i>'), "https://www.facebook.com/Meet-Up-English-101228061233520/?modal=admin_todo_tour", class: 'facebbok' %>
        </div>
      </div>
      <div id="links">
        <%= link_to '概要', about_path %>
        <%= link_to '開催スケジュール', root_path, data: {"turbolinks"=>false} %>
        <%= link_to 'ブログ', blogs_path(event_search: "開催の様子"), data: {"turbolinks"=>false} %>
      </div>
      <span id="mail">mail: meetup_english-tokyo@yahoo.co.jp</span>
      <span class="footer3-top">© Meet up English Group</span>
    </footer>
  </body>
</html>
