<div id="overlay">
  <div id="modalWindow">
    <div class="modal-message-box">


      <p>Meet Up English のホームページにご訪問していただきありがとうございます。</p>


        <% if contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

            <ul>
            <% contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <%= form_with( model: contact, url: contact.event ? '/contacts/'+contact.event_id.to_s+'/create' : '/contacts', remote: true ) do |form| %>

        <div class="field">
          <div id="label"><%= form.label :name %></div>
          <div id="input"><%= form.text_field :name %></div>
        </div>

        <div class="field">
          <div id="label"><%= form.label :email %></div>
          <div id="input"><%= form.text_field :email %></div>
        </div>

        <div class="field">
          <div id="label"><%= form.label :title %></div>
          <div id="input"><%= form.text_field :title, value: (@title_value ? @title_value : (contact.title ? contact.title : '')) %></div>
        </div>

        <div class="field">
          <div id="label"><%= form.label :message %></div>
          <div id="input"><%= form.text_area :message, value: (@message_value ? @message_value : (contact.message ? contact.message : ''))  %></div>
        </div>
        <button type="submit" name="commit" onclick="ga('send','event','submit','click',);" class="send" data-disable-with="Sending...">
          Send <i class="fas fa-arrow-circle-right"></i>
        </button>

      <% end %>




    </div>
    <button class="modal-close-btn">閉じる</button>
  </div>
</div>
