<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Message:</strong><br>
  <%= raw(@contact.message.gsub(/\n/, '<br>')) %>
</p>

<p>
  <strong>Createdat:</strong><br>
  <%= @contact.created_at %>
</p>

<% if @home %>
<p>
  <strong>from:</strong>
  <%= @home.date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@home.date.wday]})") %><br><%= @home.start.strftime("%H:%M") %>~<%= @home.end.strftime("%H:%M") %>
  <%= @home.contacts.each{|n|'<p>'+raw(n.message.gsub(/\n/, '<br>'))+'</p>'} %>
</p>
<% end %>


<%= link_to 'Back', contacts_path, data: {"turbolinks"=>false} %>
