<%= form_with(model: cafe, local: true) do |form| %>
  <% if cafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cafe.errors.count, "error") %> prohibited this cafe from being saved:</h2>

      <ul>
      <% cafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <% if params[:selected_city]%>
  <div class="field" style="display:none">
    <%= form.label :city_id %>
    <%= form.number_field :city_id, value:params[:selected_city] %>
  </div>
  <% elsif %>
  <div class="field">
    <%= form.label :city_id %>
    <%= form.select :city_id,City.all.map{|n|[n.name,n.id]} %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.url_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
