<h1>Editing Cafe</h1>
<%= form_with model: @cafe, local: true  do |form| %>
  <p>現在登録されている画像（削除するものはチェックしてください）</p>
  <% @cafe.images.each do |image| %>
    <%= form.check_box :image_ids, {:multiple => true}, image.id, false %>
    <%= image_tag image, :size=>"100x100" %> <br>
  <% end %>
  <%= form.submit("delete images") %>
<% end %>
<%= render 'form', cafe: @cafe %>
<%= link_to 'Show', @cafe %> |
<%= link_to 'Back', caves_path %>
