<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cafe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cafe.description %>
</p>

<p>
  <strong>Cityid:</strong>
  <%= @cafe.cityId %>
</p>

<p>
  <strong>Images:</strong><br>
<% if @cafe.images.attached? %>
  <% @cafe.images.each do |image| %>
    <%= image_tag image, :size=>"400x400" %> <br>
  <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_cafe_path(@cafe) %> |
<%= link_to 'Back', caves_path %>
