<div id="signup_student_path">
  <%= form_with(url: signup_student_path, model: @user, local: true, builder: WithErrorFormBuilder) do |form| %>
    <h1>新規会員登録</h1>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :gender %>
      <div class="gender">
        <%= form.radio_button :gender, "男",class: "radio_input", id: "man", :checked=>('checked' if @user.gender)%><label for="man">男</label>
        <%= form.radio_button :gender, "女",class: "radio_input", id: "woman", :checked=>('checked' if @user.errors.any? && !@gender_errors && !@user.gender) %> <!-- validation errorがある かつ gender errorがない -->
        <label for="woman">女</label>
      </div>
      <ul><li class="errors_gender <%= "list_style_none" if !@gender_errors %>"><%= @gender_errors %></li></ul>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= form.submit '会員登録する' %>
    </div>
  <% end %>

</div>
