<div id="login">
  <h1>Meet up English</h1>
  <p id="login_as_text">生徒としてログイン</p>
  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email, {class: "email", placeholder: "メールアドレス"}  %>
    <%= f.password_field :password, {class: "password", placeholder: "パスワード"}  %>
    <%= f.submit "ログイン", {class: "submit student"} %>
  <% end %>
  <a href=<%= signup_student_path(locale: "ja") %> id="sign_up">新規会員登録はこちら</a>
  <a href="#" id="terms">利用規約</a>
  <a href="/login/teacher" id="login_as_teacher" class="login_as">
    Login as a teacher
  </a>


</div>

<footer id="as_guest" class="student">
  <a href="#">ログインせずに利用する</a>
</footer>


<style>
  body{overflow-y: hidden;}
</style>
