<div id="login">
  <h1>Meet up English</h1>
  <p id="login_as_text">login as a teacher</p>
  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>
  <%= form_for(:session, url: '/login/teacher') do |f| %>
    <%= f.email_field :email, {class: "email", placeholder: "mail adress"}  %>
    <%= f.password_field :password, {class: "password", placeholder: "password"}  %>
    <%= f.submit "LOGIN", {class: "submit teacher"} %>
    <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %>
    <span>Remember me on this computer</span>
    <% end %>
  <% end %>
  <a href=<%= signup_teacher_path(locale: "en") %> id="sign_up">sign up</a>
  <a href="#" id="terms">terms of service</a>
  <a href="/login" id="login_as_student" class="login_as">
    生徒としてログイン
  </a>


</div>
<footer id="as_guest" class="teacher"></footer>

<style>
  body{overflow-y: hidden;}
</style>
