<!DOCTYPE html>
<html>
  <head>
    <title>MUE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/16fa72faa1.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="height: 100%;max-width: 935px;width 100%;margin: 0 auto;">
      <div style="margin-right: -280px;padding: 0px;width: 100%;float: left;">
        <div style="width:654px;  background-color: white;  display: inline-block;  overflow-x: auto;">
          <%= yield %>
        </div>
      </div>
      <div style="width: 270px;  float: right;  background-color: gray; margin-left: 10px;">
        <div style="position: fixed; width:270px;">
        <% unless session[:user].nil? %>
        <p><%= session[:user]["name"]%></p>
        <p><%= session[:role]%></p>
        <p><%= link_to 'home', homes_path %></p>
        <p><%= link_to 'teacher', teachers_path %></p>
        <p><%= link_to 'city', cities_path %></p>
        <p><%= link_to 'cafe', caves_path %></p>
        <p><%= link_to "ログアウト", logout_url, method: :delete %></p> <% end %>

        <!-- InstaWidget -->
        <a href="https://www.instagram.com/meet_up_english?ref=badge" class="insta_btn2">
          <i class="fab fa-instagram"></i> <span>@meet_up_english</span>
        </a>

        <!-- TwitterWidget -->
<a href="https://twitter.com/meetup_english?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @meetup_english</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">【ゆる募】<br>町田・八王子・相模原・橋本・相模大野<br>の駅近のカフェで英会話したい人いませんか？<br><br>1人1時間1000円で参加可能です☕️<br>先生はもちろんネイティブ👨‍🏫<br><br>ゆるーく英会話始めたい人にはおすすめです！<br><br>1人で参加する人もいらっしゃいますのでぜひ！<a href="https://twitter.com/hashtag/%E8%8B%B1%E4%BC%9A%E8%A9%B1?src=hash&amp;ref_src=twsrc%5Etfw">#英会話</a> <a href="https://twitter.com/hashtag/%E8%8B%B1%E4%BC%9A%E8%A9%B1%E3%82%AB%E3%83%95%E3%82%A7?src=hash&amp;ref_src=twsrc%5Etfw">#英会話カフェ</a> <a href="https://twitter.com/hashtag/%E8%8B%B1%E8%AA%9E?src=hash&amp;ref_src=twsrc%5Etfw">#英語</a> <a href="https://twitter.com/hashtag/%E6%A0%BC%E5%AE%89%E8%8B%B1%E4%BC%9A%E8%A9%B1?src=hash&amp;ref_src=twsrc%5Etfw">#格安英会話</a> <a href="https://t.co/TKE8Ev521L">pic.twitter.com/TKE8Ev521L</a></p>&mdash; Meet Up English (@meetup_english) <a href="https://twitter.com/meetup_english/status/1155339296305377280?ref_src=twsrc%5Etfw">July 28, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      </div>
    </div>
  </body>
</html>
