<!DOCTYPE html>
<html>
  <head>
    <title>MUE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="height: 100%;max-width: 935px;width 100%;margin: 0 auto;">
      <div style="margin-right: -280px;padding: 0px;width: 100%;float: left;">
        <div style="width:654px;  background-color: white;  display: inline-block;  overflow-x: auto;">
          <%= yield %>
        </div>
      </div>
      <div style="width: 280px;  float: right;  background-color: gray;">
        <div style="position: fixed;">
        <% unless session[:user].nil? %>
        <p><%= session[:user]["name"]%></p>
        <p><%= session[:role]%></p> <% end %>
        <p><%= link_to 'home', homes_path %></p>
        <p><%= link_to 'teacher', teachers_path %></p>
        <p><%= link_to 'city', cities_path %></p>
        <p><%= link_to 'cafe', caves_path %></p>
        </div>
      </div>
    </div>
  </body>
</html>
