<!DOCTYPE html>
<html>
  <head>
    <%= render'layouts/head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="create_contact"></div>

    <header>
      <div id="header1-1"><div id="header1-2"><%= link_to image_tag("logo.jpg", alt: "logo", id: 'header1-img'), top_path %></div></div>
      <div id="header2"><p id="header2-p"><%= link_to 'Meet up English', top_path, data: {"turbolinks"=>false} %></p></div>
      <% if session[:user].nil? %>
      <div id="header3"><ul><li><a data-remote="true" href="/contacts/new?title=I want to be a teacher">I want to be a teacher</a>
      </li></ul></div>
      <% elsif %>
      <div id="header3"><ul><li>name:<%=session[:user]["name"]%></li><li>role:<%=session[:role]%></li><li><%= link_to "ログアウト", logout_url, method: :delete %></li></ul></div>
      <% end %>
    </header>

    <div id="main">
      <div id="main1">
        <div id="main2">
          <%= yield %>
        </div>
      </div>
      <div id="sidebox1" class="onlypc">
        <div id="sidebox2">
          <% unless session[:user].nil? %>
            <p><%= link_to 'teacher', teachers_path %></p>
            <p><%= link_to 'contact(' + Contact.where(checked: false).size.to_s + ')', contacts_path, data: {"turbolinks"=>false}, class: Contact.where(checked: false).size > 0 ? "text_orange_gradation" : '' %></p>
            <p><%= link_to 'cafe', caves_path %></p>
            <p><%= link_to 'city', cities_path %></p>
            <p><%= link_to 'prefecture', prefectures_path %></p>
          <% end %>

          <%= link_to "カフェ開催スケジュール", root_path, class: "page_btn",style: "background-color: #179c17"%>
          <%= link_to "Group紹介", about_path, class: "page_btn", style: "background-color: #da4f4f;"%>
          <%= link_to "Meet Up English のブログ", blogs_path(event_search: "開催の様子"), class: "page_btn", style: "background-color: #1b95e0;", data: {"turbolinks"=>false} %>

          <!-- LineWidget -->
          <!-- <a class="page_btn" style="background-color: #00b900;" href="http://nav.cx/alJd5yY">
            <img alt="友達追加" border="0" height="28" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a> -->


          <!-- InstaWidget -->
          <!-- <a href="https://www.instagram.com/meet_up_english?ref=badge" class="insta_btn2">
            <i class="fab fa-instagram"></i> <span>@meet_up_english</span>
          </a> -->

          <!-- TwitterWidget -->
          <!-- <a class="page_btn" style="background-color: #1b95e0;" href="https://twitter.com/meetup_english?ref_src=twsrc%5Etfw">
            <i class="fab fa-twitter"></i><span style="font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif; font-size: 13px;">Follow @meetup_english</span>
          </a> -->

          <!-- YoutubeWidget -->
          <!-- <a class="page_btn" style="background-color: #da4f4f;" href="https://www.youtube.com/channel/UC1OTguN4K5GNf8I5ZeJZkGg">
            <i class="fab fa-youtube"></i><span>Subscribe Youtube</span>
          </a> -->

          <!-- latest event -->
          <!-- <div id="latest_event">
            <div class="text">
              <p>-----------------前回の開催-----------------</p>
            </div>
            <a href="/blogs/<%= @latest_event_blog&.id %>" class="eye_catch">
              <img src='<%= @latest_event_blog.image.attachment.service.send(:object_for, @latest_event_blog.image.key).public_url if @latest_event_blog %>'>
              <div class='title'><%= @latest_event_blog&.title %></div>
            </a>
          </div> -->

        </div>
      </div>
    </div>


    <div id="footer1" class="cmn-footer">
      <div class="pagetop"> <a>↑PAGETOP</a></div>
      <a class="footer_contact_btn contact_btn" data-remote="true" href="/contacts/new"><i class="far fa-envelope"></i>Contact</a>
      <a class="footer_page_btn twitter_btn" href="https://twitter.com/meetup_english?ref_src=twsrc%5Etfw"><i class="fab fa-twitter"></i>Follow Twitter</a>
      <a class="footer_page_btn insta_btn" href="https://www.instagram.com/meet_up_english?ref=badge"><i class="fab fa-instagram"></i>Follow Instagram</a>
      <a class="footer_page_btn line_btn" href="http://nav.cx/alJd5yY"><i class="fab fa-line"></i>Follow Line</a>
      <a class="footer_page_btn youtube_btn" href="https://www.youtube.com/channel/UC1OTguN4K5GNf8I5ZeJZkGg"><i class="fab fa-youtube"></i>Subscribe Youtube</a>
      <a class="footer_page_btn facebook_btn" href="https://www.facebook.com/Meet-Up-English-101228061233520/?modal=admin_todo_tour"><i class="fab fa-facebook-f"></i>Follow Facebook</a>
      <p class="copyright">© Meet up English Group</p>
    </div>


    <!-- spにだけ表示される、ブログとかのページに行ける下に固定しているフッター -->
    <footer id="footer_application" class="onlysp">
      <a href="/" data-turbolinks="false">Schedule</a>
      <a id="footer_center" href="/about">About</a>
      <a href="/blogs?event_search=開催の様子" data-turbolinks="false">Blog</a>
    </footer>

    <%# debug(params) if Rails.env.development? %>
    <%# debug( params[:event_search] ) if Rails.env.development? %>
  </body>
</html>
