<!DOCTYPE html>
<html>
  <head>
    <%= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= display_meta_tags(default_meta_tags) %>
    <script src="https://kit.fontawesome.com/16fa72faa1.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>




  <body>
    <div id="create_contact"></div>




    <header>
      <div id="header1-1"><div id="header1-2"><%= link_to image_tag("logo.jpg", alt: "logo", id: 'header1-img'), root_path %></div></div>
      <div id="header2"><p id="header2-p"><%= link_to 'Meet up English', root_path, data: {"turbolinks"=>false} %></p></div>
      <% if !logged_in? %>
      <div id="header3"><ul><li><a data-remote="true" href="/contacts/new?title=I want to be a teacher">I want to be a teacher</a>
      </li></ul></div>
      <% elsif %>
      <div id="header3"><ul><li>name:<%=@current_user.name%></li><li>role:<%=session[:role]%></li><li><%= link_to "Log out", logout_path, method: :delete %></li></ul></div>
      <% end %>
    </header>



    <div id="main">
      <div id="main1">
        <div id="main2">
          <%= yield %>
        </div>
      </div>

      <div id="sidebox1">
        <div id="sidebox2">
        <% unless !logged_in? %>
        <p><%= link_to 'teacher', teachers_path %></p>
        <p><%= link_to 'contact(' + Contact.where(checked: false).size.to_s + ')', contacts_path, data: {"turbolinks"=>false}, class: Contact.where(checked: false).size > 0 ? "text_orange_gradation" : '' %></p>
        <% end %>

        <%= link_to "カフェ開催スケジュール", root_path, class: "page_btn",style: "background-color: #179c17", data: {"turbolinks"=>false} %>
        <%= link_to "料金/すきま時間英会話とは", overview_path, class: "page_btn", style: "background-color: #da4f4f;", data: {"turbolinks"=>false} %>
        <%= link_to "Meet Up English のブログ", blogs_path, class: "page_btn", style: "background-color: #1b95e0;", data: {"turbolinks"=>false} %>

        <!-- LineWidget -->
        <a class="page_btn" style="height: 28px;width: 187px;background-color: #00b900;" href="http://nav.cx/alJd5yY">
          <img alt="友達追加" border="0" height="28" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>


        <!-- InstaWidget -->
        <a href="https://www.instagram.com/meet_up_english?ref=badge" class="insta_btn2">
          <i class="fab fa-instagram"></i> <span>@meet_up_english</span>
        </a>

        <!-- TwitterWidget -->
        <a href="https://twitter.com/meetup_english?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @meetup_english</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">【Meet Up English 】<br><br>•「スキマ時間」に駅周辺のCaffeで<br><br>「英会話」をする。という、気軽にス<br><br>キマ時間を利用して英会話をするサー<br><br>ビスの提供を目指しております。<br><br>•参加費1000円〜でネイティブ講師と<br><br>の英会話サービスです。<br><br>✅興味のある方は是非DMを下さい!!<a href="https://twitter.com/hashtag/%E3%82%B9%E3%82%AD%E3%83%9E?src=hash&amp;ref_src=twsrc%5Etfw">#スキマ</a> <a href="https://twitter.com/hashtag/%E8%8B%B1%E8%AA%9E?src=hash&amp;ref_src=twsrc%5Etfw">#英語</a> <a href="https://twitter.com/hashtag/%E8%8B%B1%E4%BC%9A%E8%A9%B1?src=hash&amp;ref_src=twsrc%5Etfw">#英会話</a></p>&mdash; Meet Up English Group (@meetup_english) <a href="https://twitter.com/meetup_english/status/1159399521744388096?ref_src=twsrc%5Etfw">August 8, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

    </div>

    <div id="footer1" class="cmn-footer"><div class="pagetop"> <a>↑PAGETOP</a></div>
    <div class="footer_contact_btn"><a class="contact_btn" data-remote="true" href="/contacts/new"><i class="far fa-envelope"></i>Contact</a></div>
    <div class="footer_page_btn"><a class="twitter_btn" href="https://twitter.com/meetup_english?ref_src=twsrc%5Etfw"><i class="fab fa-twitter"></i>Follow Twitter</a></div>
    <div class="footer_page_btn"><a class="insta_btn" href="https://www.instagram.com/meet_up_english?ref=badge"><i class="fab fa-instagram"></i>Follow Instagram</a></div>
    <div class="footer_page_btn"><a class="line_btn" href="http://nav.cx/alJd5yY"><i class="fab fa-line"></i>Follow Line</a></div>
    <div class="footer_page_btn"><a class="facebook_btn" href="https://www.facebook.com/Meet-Up-English-101228061233520/?modal=admin_todo_tour"><i class="fab fa-facebook-f"></i>Follow Facebook</a></div>
    <p class="copyright">© Meet Up English Group</p>
  </div>



    <footer>
      <div data-href="/"><%= link_to "Schedule", root_path,data: {"turbolinks"=>false} %></div>
      <div id="footer_center_div" data-href="/overview"><%= link_to "Overview", overview_path,data: {"turbolinks"=>false} %></div>
      <div data-href="/blogs"><%= link_to "Blog", blogs_path, data: {"turbolinks"=>false} %></div>
    </footer>

    <%= debug(params) if Rails.env.development? %>
    <%= debug(session[:user_id]) if Rails.env.development? %>
    <%= debug(session[:role]) if Rails.env.development? %>

  </body>
</html>
