<!DOCTYPE html>
<html>
  <head>
    <title>Meet Up English</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/16fa72faa1.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header style="width: 100%;height: 90px;background-color: white;margin-bottom: 30px;">
      <div style="padding: 0px;width: 154px;float: left;"><div style="width:590px;  background-color: white;  display: inline-block;"><img src="https://firebasestorage.googleapis.com/v0/b/test-8d0bf.appspot.com/o/images%2FS__5120002.jpg?alt=media&token=0d0a3277-931a-4822-a88c-9bed623c0c19" style="height: 70px;"></div></div>
      <div style="float: left; "><p style="font-family: Helevetica;font-weight: bold;font-style: oblique;margin: 0px;font-size: 50px;">Meet Up English</p></div>
      <% unless session[:user].nil? %>
      <div style="float: right;margin-right: 50px;"><ul><li>name:<%=session[:user]["name"]%></li><li>role:<%=session[:role]%></li><li><%= link_to "ログアウト", logout_url, method: :delete %></li></ul></div>
      <%end%>
    </header>
    <div id="main" style="height: 100%;max-width: 935px;width 100%;margin: 0 auto;">
      <div style="margin-right: -280px;padding: 0px;width: 100%;float: left;">
        <div style="width:614px;  background-color: white;  display: inline-block;  overflow-x: auto;padding: 10px 20px 10px 20px;">
          <%= yield %>
        </div>
      </div>
      <div style="width: 270px;  float: right;  margin-left: 10px;">
        <div id="sidebox" style=" width:270px;">
        <% unless session[:user].nil? %>
        <p><%= link_to 'home', homes_path %></p>
        <p><%= link_to 'teacher', teachers_path %></p>
        <p><%= link_to 'city', cities_path %></p>
        <p><%= link_to 'cafe', caves_path %></p><% end %>

        <%= link_to "カフェ開催スケジュール", root_path, class: "page_btn",style: "background-color: #179c17", data: {"turbolinks"=>false} %>
        <%= link_to "料金/すきま時間英会話とは", overview_path, class: "page_btn", style: "background-color: #da4f4f;", data: {"turbolinks"=>false} %>
        <%= link_to "Meet Up English の様子", blogs_path, class: "page_btn", style: "background-color: #1b95e0;", data: {"turbolinks"=>false} %>

        <!-- LineWidget -->
      <a class="page_btn" style="height: 28px;width: 187px;background-color: #00b900;" href="https://access.line.me/oauth2/v2.1/login?returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fscope%3Dopenid%2Bprofile%2Bfriends%2Bgroups%2Btimeline.post%2Bmessage.write%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fsocial-plugins.line.me%252Fwidget%252FloginCallback%253FreturnUrl%253Dhttps%25253A%25252F%25252Fsocial-plugins.line.me%25252Fwidget%25252Fclose%26state%3D711f2fcb8f5af13530dabd1acd89c3%26client_id%3D1446101138&loginChannelId=1446101138&loginState=wynctL0x40o8HHxBeG4mMU#/">
          <img alt="友達追加" border="0" height="28" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
        

        <!-- InstaWidget -->
        <a href="https://www.instagram.com/meet_up_english?ref=badge" class="insta_btn2">
          <i class="fab fa-instagram"></i> <span>@meet_up_english</span>
        </a>

        <!-- TwitterWidget -->
        <a href="https://twitter.com/meetup_english?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @meetup_english</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">【Meet Up English 】<br><br>•「スキマ時間」に駅周辺のCaffeで<br><br>「英会話」をする。という、気軽にス<br><br>キマ時間を利用して英会話をするサー<br><br>ビスの提供を目指しております。<br><br>•参加費1000円〜でネイティブ講師と<br><br>の英会話サービスです。<br><br>✅興味のある方は是非DMを下さい!!<a href="https://twitter.com/hashtag/%E3%82%B9%E3%82%AD%E3%83%9E?src=hash&amp;ref_src=twsrc%5Etfw">#スキマ</a> <a href="https://twitter.com/hashtag/%E8%8B%B1%E8%AA%9E?src=hash&amp;ref_src=twsrc%5Etfw">#英語</a> <a href="https://twitter.com/hashtag/%E8%8B%B1%E4%BC%9A%E8%A9%B1?src=hash&amp;ref_src=twsrc%5Etfw">#英会話</a></p>&mdash; Meet Up English Group (@meetup_english) <a href="https://twitter.com/meetup_english/status/1159399521744388096?ref_src=twsrc%5Etfw">August 8, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </body>
</html>
