<!DOCTYPE html>
<html>
  <head>
    <%= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0", viewport-fit=cover">
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="margin-bottom: 44px">
    <div id="create_contact"></div>
    <!-- ここにnoticeを作る -->
    <%= yield %>



    <footer id="footer_teacher_app">
      <a href=<%= teacher_schedule_index_path %> id="">
        <i class="fas fa-calendar-week <%= "active" if @at == "schedule" %>"></i>
      </a>
      <a id="">
        <i class="fab fa-blogger-b"></i>
      </a>
      <a id="">
        <i class="fas fa-yen-sign"></i>
      </a>
      <a id="">
        <i class="fas fa-bell"></i>
      </a>
      <a href=<%= teacher_account_index_path %> id="">
        <i class="fas fa-smile <%= "active" if @at == "account" %>"></i>
      </a>
    </footer>

  </body>
</html>
