<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Prefectureid:</strong>
  <%= @city.prefectureId %>
</p>

<p>
  <strong>Images:</strong><br>
<% if @city.images.attached? %>
  <% @city.images.each do |image| %>
    <%= image_tag image, :size=>"400x400" %> <br>
  <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %> <br>

<%= link_to 'new home', new_home_path(selected_city: @city.id) %>
