<div id="teacher_schedule">
  <h1><%= @event.title %></h1>
  <div id="teacher">
    <div class="image">
      <%= image_tag (@current_teacher.avatar.attached? ? @current_teacher.avatar : "users/atom-logo.jpg")  %>
    </div>
    <div class="name"><%= @current_teacher.name %></div>
  </div>
  <div id="when">
    <div><%= @event.date.strftime("%A, %B %d, %Y") %></div>
    <div><%= @event.start.strftime("%H:%M") %>~<%= @event.end.strftime("%H:%M") %></div>
    <!-- ここに予約表を書きたい -->
    <div id="schedule">
      <% @hour_num.times do |hour|%>
        <div style="grid-row: <%= 2+hour*12 %> / span 12;grid-column: 1;"><%= (@event.start+3600*hour).strftime("%H:%M") %></div>
      <% end %>
      <% @event.peopleNum.times do |sheet_num| %>
        <div class="sheet" style="grid-row: 1;grid-column: <%= sheet_num+2 %>;">sheet<%= sheet_num+1 %></div>
        <% @event.user_events.where(sheet: sheet_num).each do |user_event| %>
          <%= link_to '', '#', :style=>"grid-row: #{((user_event.start-@event.start)/60/5).to_i+2} / #{((user_event.end-@event.start)/60/5).to_i+3};grid-column: #{sheet_num+2}",class: "reserved" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>￥<%= @event.fee %>/5min</div>
  <div><%= @event.place.en_name %></div>
</div>

<style>
#schedule{
  grid-template-rows: 30px<% ((@event.end-@event.start)/60/5).to_i.times{%> 15px<%}%>;
  grid-template-columns: 50px;
}
</style>
