<% set_meta_tags title: 'Groupの活動の様子をブログでみちゃおう！', description: 'Meet Up English Groupの「開催日記」「旅日記」「ご飯日記」「先生日記」「スタッフ日記」などなど、いろいろな情報を発信しております。
開催時の様子や、先生の紹介など、【毎日更新】を続けておりますので、ご覧ください。'%>

<% if session[:role]=="Admin" %><p id="notice"><%= notice %></p><% end %>

<h1>Meet up English Blog</h1>

<%= if session[:role]=="Admin" then link_to 'New Blog', new_blog_path end%>


<h2 id="category-name">Category</h2>

<div id="category-blog">
  <div class="flex-blog">
    <% @category.each_with_index do |category, index| %>

      <a class="item" href="#">
        <%= category.image ? image_tag(category.image) : category.name %>
      </a>
    <% end %>
  </div>
</div>


<div class="skill-list jscroll">
  <% if @blogs %>
    <% @blogs.each do |blog| %>

    <article><a href="/blogs/<%= blog.id %>">
      <div class="eyecatch">
        <% if blog.image.attached? %>
          <%= image_tag blog.image, :size=>"400x400" %>
        <% end %>
      </div>
      <h3><%= link_to blog.title, blog %></h3>
      <div>
        <div class="blog_createdAt">
          <% if session[:role]=="Admin" %><%= link_to 'Edit', edit_blog_path(blog)%> | <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %><%end%>
          <%= blog.created_at.strftime("%Y.%m.%d") %>
        </div>
        <div class="commentnum_blog_index"><i class="fas fa-comments"></i><%= blog.comments.size %></div>
      </div>
    </a></article>

    <% end %>
  <% end %>

  <%== pagy_nav(@pagy) %>
</div>
