<p id="notice"><%= notice %></p>

<%= if session[:role]=="Admin" then link_to 'New Blog', new_blog_path end%>




<% @blogs.reverse.each do |blog| %>

<article data-href="/blogs/<%= blog.id %>">
  <div class="eyecatch">
    <% if blog.image.attached? %>
    <%= image_tag blog.image, :size=>"400x400" %>
    <% end %>
  </div>
  <h3><%= link_to blog.title, blog %></h3>
  <div class="blog_cratedAt">
    <%= link_to 'Edit', edit_blog_path(blog) %> | <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %> 
    <%= blog.created_at.strftime("%Y.%m.%d") %>
  </div>

</article>

<% end %>
