<% set_meta_tags title: 'Groupの活動の様子をブログでみちゃおう！', description: 'Meet Up English Group のアプリケーションの、開発や広報などの活動の様子のブログです。お気軽にコメントを残してください！'%>

<% if session[:role]=="Admin" %><p id="notice"><%= notice %></p><% end %>
<h1>Meet Up English Blog</h1>

<%= if session[:role]=="Admin" then link_to 'New Blog', new_blog_path end%>



<% if @blogs %>
<% @blogs.order(:id).reverse.each do |blog| %>

<article data-href="/blogs/<%= blog.id %>">
  <div class="eyecatch">
    <% if blog.image.attached? %>
    <%= image_tag blog.image, :size=>"400x400" %>
    <% end %>
  </div>
  <h3><%= link_to blog.title, blog %></h3>
  <div>
    <div class="blog_createdAt">
      <% if session[:role]=="Admin" %><%= link_to 'Edit', edit_blog_path(blog)%> | <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %><%end%>
      <%= blog.created_at.strftime("%Y.%m.%d") %>
    </div>
    <div class="commentnum_blog_index"><i class="fas fa-comments"></i><%= blog.comments.size %></div>
  </div>

</article>

<% end %>
<% end %>
