<h1>New Category</h1>

<%= form_with(model: @blogcategory, local: true,url: '') do |form| %>
  <% if @blogcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogcategory.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blogcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
