<% set_meta_tags title: @blog.title, description: @blog.text,og: { image: @blog.image.attachment.service.send(:object_for, @blog.image.key).public_url }%>

<div id="create_comment"></div>

<div id="blog_paht">


  <div id="header">
    <%= image_tag 'homes/officialblog.png' %>
    <div id="categories"><% Blogcategory.all.each do |category| %>
      <a href="/blogs?event_search=<%= category.name %>"><%= category.name %></a>
    <% end %></div>
  </div>

  <div id="pankuzu">
    <a href="/top">TOP</a><i class="fas fa-chevron-right"></i>
    <a href=<%= blogs_path(event_search: @blog.category.name) %>>BLOG(<%= @blog.category.name %>)</a><i class="fas fa-chevron-right"></i>
    <span><%= @blog.title.truncate(20) %></span>
  </div>

  <div class="around_blog">
    <a class="left_blog" href="/blogs/<%= @next_blog&.id %>"><i></i><span><%= @next_blog&.title %></span></a>
    <a class="right_blog" href="/blogs/<%=  @before_blog&.id %>"><span><%= @before_blog&.title %></span><i></i></a>
  </div>

  <!-- タイトル本文 -->
  <div id="title">
    <h1><%= @blog.title %></h1>
    <p id="date" ><%= @blog.created_at.strftime("%Y年%m月%d日") %></p>
  </div>
  <div id="title_text">
    <%= image_tag @blog.image, class: "blog_image"%>
    <%=  if session[:role]=="Admin" then link_to 'EditBlog', edit_blog_path(@blog) end %>
    <p class="text"><%= raw(@blog.text.gsub(/\n/, '<br>')) %></p>
  </div>




  <!-- 目次 -->
  <!-- <div class="toc_container">
  <p >この記事の目次</p>
  <ul style="display: block;">
  <% @blog.sections.order(:index).each do |n| %>
      <li><a href="#blogIndex<%= n.id %>"><%= n.title %></a></li>
  <% end %>
  <li><a href="#blog_index_comment">コメント</a></li>
  </ul>
  </div> -->



  <!-- セクション -->
  <div id="sections">
    <section id="blog_section">
      <%= if session[:role]=="Admin" then link_to 'NewSection', new_section_path(selected_blog:@blog.id) end %>
      <% @blog.sections.order(:index).each do |n| %>
        <h2 id="blogIndex<%= n.id %>"><%= n.title %></h2>
        <% if session[:role]=="Admin" %><%= link_to 'EditSection', edit_section_path(n.id,selected_blog:@blog.id) %> | <%= link_to 'DestroySection', n, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
        <% if n.image.attached? %>
        <%= image_tag n.image, class: "section_image"%>
        <% end %>
        <p><%= raw(n.text.gsub(/\n/, '<br>')) %></p>
      <% end %>
    </section>
  </div>


  <p id="posted_on">Posted on <%= @blog.created_at.strftime("%Y年%m月%d日") %></p>

  <!-- 前後のブログ -->
  <div class="around_blog">
    <a class="left_blog" href="/blogs/<%= @next_blog&.id %>" data-turbolinks="false"><i></i><span><%= @next_blog&.title %></span></a>
    <a class="right_blog" href="/blogs/<%=  @before_blog&.id %>" data-turbolinks="false"><span><%= @before_blog&.title %></span><i></i></a>
  </div>


  <!-- コメント -->
  <div id="blog_index_comment">
    <a data-remote="true" href="/blogcomments/new?blogId=<%= @blog.id %> "> <i class="fas fa-comments"></i>コメントする</a></div>

  <table id="blog_comments"><tbody>
    <tr><th>コメント(<%= @blog.comments.size %>)</th></tr>
    <% @blog.comments.to_enum.with_index.reverse_each do |n, index| %><!-- .to_enum.with_index => index付与 -->
    <tr><td class="number_blog_comments"><%= index+1 %></td><td><%= simple_format(n.text) %><div><%= n.name %></div><div class="created_blog_comments"><%= n.created_at.strftime("%Y/%m/%d %H:%M:%S") %></div></td></tr>
    <% end %>
  </tbody></table>
</div>
