<div id="overlay">
  <div id="modalWindow">
    <div class="modal-message-box">


      <p>Meet Up English Group の記事を読んでいただきいただきありがとうございます。</p>
      <%= form_with(model: blogcomment,url: blogcomments_path(blog_id: blogId), local: true) do |form| %>


        <div class="field">
          <div id="label"><%= form.label :name %></div>
          <div id="input"><%= form.text_field :name %></div>
        </div>

        <div class="field">
          <div id="label"><%= form.label :text %></div>
          <div id="input"><%= form.text_area :text %></div>
        </div>

        <button type="submit" name="commit" onclick="ga('send','event','submit','click',);" class="send" data-disable-with="Sending...">
          Send <i class="fas fa-arrow-circle-right"></i>
        </button>
      <% end %>



    </div>
    <button class="modal-close-btn">閉じる</button>
  </div>
</div>
