<p id="notice"><%= notice %></p>
<h1><%= @teacher.name %>先生</h1>

<%  if @teacher.avatar.attached? %>
<%= image_tag @teacher.avatar ,style:"max-height:500px; width:100%"%>
<% end %>

  <h2>Selfintroduction</h2><br>
  <p><%= simple_format(teacher.selfIntroduction) %></p>

<%  if session[:role]=="Admin"%>
<p>
  <strong>gender:</strong>
  <%= @teacher.gender %>
</p>
<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
<% end %>
